<div class="center" > 
<%= form_for @user do |f| %>

	<div class="center" >First Name:<br><%= f.text_field :first_name %></div>
	<div class="center" >Last Name:<br><%= f.text_field :last_name %></div>
	<div class="center" >Current City:<br><%= f.text_field :current_city %></div>
	<br>
	<div class="center" ><%= f.submit 'update user' %></div>
<% end %>
</div>