<br>

<div class ="container" style="width:50%; position:relative; dispay:inline; float:left;">

<div>
	<%= image_tag @user.avatar.url(:medium) %>
</div>
<br><br>

 	<div>
		Signed in as, <%= @user.email %>
	</div>

	<div>
		welcome, <%= @user.first_name %> <%= @user.last_name %>
	</div>

	<div>
		this profile was created on: <%= @user.created_at %>
	</div>
	<div><%= button_to "Edit User", edit_user_path, method: :get %>
				<%= button_to "Create New Post", post_path, method: :get %>
	</div>
</div>


<div  style="width:50%; position:relative; display:inline; float:right;"> 
posts go here

<% @posts.each do |post| %>
<ul>
	<li>
		<%= link_to post.title, post_path(post.id) %> <%= button_to "Delete Post", delete_post_path(post.id), method: :delete %>
	</li>

</ul>
	
<% end %>
 <!-- <%= yield %> -->

</div>



