


<div class ="container" style="width:30%; position:relative; dispay:inline; float:left;">
 	<div>
		Signed in as, <%= @user.email %>
	</div>

	<div>
		Welcome, <%= @user.first_name %> <%= @user.last_name %>
	</div>

	<div>
		this profile was created on: <%= @user.created_at %>
	</div>
	
</div>


<div  style="width:70%; position:relative; display:inline; float:right;"> 
posts go here
<%= yield %>
<div><%= button_to "Edit Post", edit_post_path, method: :get %></div>
</div>
