<!DOCTYPE html>
<html>
<head>



  <title>Vagabond</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header> 
    <h1>Vagabond</h1>
   	<img id='logo' src="http://png.clipart.me/graphics/thumbs/169/backpacker-standing-on-top-of-mountain-vector-illustration_16948822.jpg">
</header>

<ul class="nav nav-tabs">
<li><%= link_to "Home", '/' %></li>
  <% if current_user %>
    <li ><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>   
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "Create Account", new_user_path %></li>
  <% end %>
</ul>


<body>



<%= yield %>

</body>
</html>
